.pdf
[Mark_Lutz]_Learning_Python(BookZZ.org).pdf

578-a-comparison-of-projection-pursuit-and-neural-network-regression-modeling.pdf

[Wesley_J._Chun]_Core_Python_Programming(BookZZ.org).pdf

PYTHON网络编程基础.pdf

[Swaroop_C_H]_A_Byte_of_Python(BookZZ.org).pdf
